@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* #fbf5f0 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* NavBar */
.navbar-brand {
  font-weight: 200;
  font-size: 2.5rem;
}

nav {
  height: 110px;
  margin: 0px 70px;
}
nav > div > div {
  margin-left: 50px;
}

.nav-item {
  margin: 0 10px;
}

a.active {
  border-bottom: 2px solid black;
}

.navanim {
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}
.navanim:hover {
  border-bottom: 2px solid black;
}

#carrito {
  cursor: pointer;
}
#carrito-items {
  margin: 0px 10px;
}
/* Fin NavBar */

/* Carrusel */
.carousel-control-next-icon {
  background-image: url(../img/arrow-right.png);
}
.carousel-control-prev-icon {
  background-image: url(../img/arrow-left.png);
}
/* Fin Carrusel */

/* Data */
#data {
  margin: 80px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap: 20px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 25px;
  padding: 0 15px;
}
.data-img {
  margin-bottom: 20px;
}
.data-text > h2 {
  font-size: 14px;
  font-weight: 500;
}
.data-text > p {
  font-size: 12px;
  line-height: 1.7;
}
/* Fin Data */

/* Banner */
#banner-reloj {
  width: auto;
}
#banner-reloj > img {
  width: 100%;
}
/* Fin Banner */

/* Filtros */
#tienda {
  margin: 80px 50px;
}
.filtros > a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin: 0 15px;
  transition: border-color 0.3s;
}
.filtros > a:hover {
  border-bottom: 2px solid black;
}

.filtro-selec {
  border-bottom: 2px solid black;
}

.productos {
  margin: 35px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  text-align: center;
}
.producto {
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}
.producto:hover {
  transform: scale(1.05);
}
.producto > div > img {
  margin-bottom: 20px;
}
.titulo-producto {
  font-size: 18px;
  font-weight: 400;
}
.precio-producto {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.categoria-producto {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.boton-producto {
  border: none;
  color: white;
  background-color: black;
  padding: 5px 10px;
  transition: background-color 0.2s;
}
.boton-producto:hover {
  background-color: #2b2b2b;
}
/* Fin Filtros */

/* Modal */
.modalProducto {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalProducto > div {
  width: 100%;
  max-width: 650px;
  height: 100%;
  max-height: 400px;
  background-color: #fbf5f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  position: relative;
}
.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #fbf5f0;
  color: black;
  border: none;
  transition: background-color 0.2s;
}
.cerrar:hover {
  background-color: navajowhite;
}
.info {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  padding: 0 15px;
}
.precio-modal {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.descripcion {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.titulo-modal {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
/* Fin Modal */

/* Carrito */

#modalCarrito {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

#modalCarrito > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 380px;
  height: 100%;
  background-color: #fbf5f0;
  padding: 20px;
  position: relative;
}

.img-carrito {
  height: 56px;
  width: 56px;
  margin-top: 30px;
}

.lista-carrito {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.img-producto-carrito {
  height: 120px;
  width: auto;
}

.carrito-item {
  display: flex;
}

.titulo-carrito {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  width: 15ch;
}

.categoria-carrito {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.cantidad-carrito {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.precio-carrito {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.info-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.x-precio {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

#modalCarrito > div > ul {
  width: 100%;
}

.carrito-item {
  position: relative;
}

.eliminar-producto {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #fbf5f0;
  color: black;
  border: none;
  transition: background-color 0.2s;
}
.eliminar-producto:hover {
  background-color: navajowhite;
}

.total-carrito {
  margin-top: 20px;
  display: flex;
}
.total-titulo {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.total-precio {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.checkout {
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 10px 20px;
  transition: background-color 0.2s;
}
.checkout:hover {
  background-color: #2b2b2b;
}
.vaciar-carrito {
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 10px 15px;
  transition: background-color 0.2s;
}
.vaciar-carrito:hover {
  background-color: #fbf5f0;
}

/* Fin Carrito */

/* MediaQueries */
@media (max-width: 960px) {
  #data {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
